<div class="d-flex" style="min-height: 100vh">
  <!-- Sidebar -->
  <nav class="bg-dark text-white p-3" style="width: 250px">
    <h4 class="text-white">Student Panel</h4>
    <ul class="nav flex-column mt-4">
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/student/clearance-request-form" routerLinkActive="active">
          <i class="bi bi-file-earmark-plus"></i> Request Clearance
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/student/clearance-status" routerLinkActive="active">
          <i class="bi bi-check2-square"></i> View Status
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/student/profile" routerLinkActive="active">
          <i class="bi bi-check2-square"></i> Profile
        </a>
      <li class="nav-item mt-5">
        <button class="btn btn-outline-light w-100" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </button>
      </li>
    </ul>
  </nav>


  <div class="flex-grow-1 bg-light">
    <header class="bg-white shadow-sm p-3 d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Welcome, Student</h5>
    </header>

    <main class="p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
